 @font-face { 
  font-family: 'Mont'; 
  src: url('../fonts/Mont-Black.otf?#iefix') format('truetype'), 
       url('../fonts/Mont-Black.woff') format('woff'), 
       url('../fonts/Mont-Black.ttf')  format('truetype'),
       url('../fonts/Mont-Black.svg#svgFontName') format('svg');
  }
 @font-face { 
  font-family: 'MontThin'; 
  src: url('../fonts/Mont-Light.otf?#iefix') format('truetype'), 
       url('../fonts/Mont-Light.woff') format('woff'), 
       url('../fonts/Mont-Light.ttf')  format('truetype'),
       url('../fonts/Mont-Light.svg#svgFontName') format('svg');
  }

.titleBlock{
	width: 100%;
	height:300px;
  margin-top:-50px;
	/*background-image: linear-gradient(-45deg,#218953,#2c528c);*/
	text-align:center;
      background: linear-gradient(95deg, #439e6f, #2c528c, #ffa172);
    background-size: 400% 400%;

    -webkit-animation: Animation 20s ease infinite;
    -moz-animation: Animation 20s ease infinite;
    animation: Animation 20s ease infinite;
}
@-webkit-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@keyframes Animation { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
.titleBlock h1 {
	color: white;
	padding-top:120px;
	font-size:40px;
	font-family: Mont;
}
.titleBlock p {
  color:#e8e8e8;
  font-family: MontThin;
  font-size:20px;
}
.mainContent{
  width:100%;
  display: inline-block;
}
.mainContent h1 {
  color:#36a072;
  font-family: MontThin;
  font-size: 25px;
  margin:30px;
}
.flexBox{
  margin-top:30px;
  width:60%;
  margin-left:auto;
  margin-right:auto;
}
.flexBox p{
  margin-top:10px;
  margin-left:75px;
  font-family: MontThin, Arial;
  font-size:17px;
  color:#3e8466;
}
.home
{
  height:100vh;
  margin: 0;
  padding:0;
  margin-top:5vh;
  background-color:white;
}

.home ul {
    list-style-type: none;
    margin: 0;
    top:0;
    width: 100%;
    height:55px;
    padding:0;
    overflow: hidden;
    background-color:#2c528c;
    /*background-image: linear-gradient(-90deg,#218953,#2c528c);*/
    position: fixed;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.6);
    z-index: 9999;
}

.home li {
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    -webkit-transition: all ease; /* Safari */
    transition: all 0.35s ease;
    height:100%;
    cursor:pointer;
}

.home li p {
    display: inline-block;
    color: #ffffff;
    font-family: Arial Black, Helvetica, Verdana, sans-serif;
    font-weight:900;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    margin-top:16px;
}
.home li:hover {
  color:#000000;
    background-color:#2c8c7a;
}
#divisionBar{
  height:35px;
  border-right:solid 2px white;
  display:inline-block;
  float:left; 
  margin-top:10px; 
  margin-bottom:10px;
}

.projectBox {
  width:40%;
  height:300px;
  display:inline-block;
  border:3px solid #439e6f;
  border-radius: 5px;
  margin: 4.3%;
  transition:0.3s;
  text-align: center;
  vertical-align: bottom;
}
.projectBox:hover{
  background-color:#efefef;
  border: 3px solid #227249;
  cursor:pointer;
}
.projectBox p{
  color:#36a072;
  font-family: MontThin;
  font-size: 25px;
  margin: 20px;
}

/* modify the content when screen is smaller*/
@media screen and (max-width: 1250px){
  #barContent{
    width:100% !important;
  }
  .projectBox{
    width:100% !important;
    margin-left:0;
    margin-top:15px;
  }
  .projectBox p{
    margin:30px !important;
    font-size:30px;
  }
  .flexBox p{
    margin:0;
  }
  .flexBox h1{
    margin:30px 0;
  }
}